/* 
screen -> print, potrait ,landscape
 
*/

/* max -> 0->1400px */
/* desktop first */

@media only screen and (max-width:1400px) {
    body {
        background-color: lightblue;
        font-size:14px;
    }
}

/* 0-> 1100 */
@media only screen and (max-width:1100px) {
    body {
        background-color: lightgreen;
    }
}

/* 0-> 900 */
@media only screen and (max-width:900px) {
    body {
        background-color: lightsalmon;
    }
}

/* @media screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  
    .container {
      width: 80%;
      margin: 0 auto;
    }
  
    .image {
      max-width: 100%;
      height: auto;
    }
  } */

/* mobile first -> easier  */
/* desktop / mobile -> userbase*/

/* media queies -> see your content  */